<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style type="text/css"></style>
    <title>Home</title>
</head>
<body>
<div class = "container">
    <div class = "starter-template">
        <h1>Callum Ke Login Testing</h1>
        <h2> 1. Visit <a href="/admin">Admin Page(Needs Security)</a> </h2>
        <h2> 2. Visit <a href="/user">User Page(Needs Security)</a> </h2>
        <h2> 1. Visit <a href="/about">About Page(No Security)</a> </h2>

    </div>
</div>
</body>
</html>