<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <style type="text/css"></style>

</head>
<body>
<div class="container">
        <form action="/login" method = "post">
            <fieldset>
                <h1> Sign In </h1>
                <div class="form-group">
                    <label>
                        <input type="text" placeholder="Enter Username" name="username" id = "username" required/>
                    </label>
                    <label>
                        <input type="password" placeholder="Password" name="password" id="password" class="form-control input-lg" required/>
                    </label>
                    <button type = "submit">Login</button>

                </div>

            </fieldset>
        </form>

</div>
</body>
</html>